<div class="modal fade" id="choice_modal" tabindex="-1" role="dialog" aria-labelledby="choiceModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content text-success">
            <div class="modal-header">
                <h5 class="modal-title" id="choice_modal_title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="choice_modal_text"></div>
            </div>
            <div class="modal-footer">
                <button type="button" id="registration_button" class="btn btn-success border-light" >Хочу</button>
                <button type="button" class="btn btn-danger border-light" data-dismiss="modal">Нет</button>
            </div>
        </div>
    </div>
</div>