<div class="modal fade" id="end_game_modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="choiceModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content text-success">
            <div class="modal-header">
                <h5 class="modal-title" id="end_game_modal_title">Поздравляем!</h5>
            </div>
            <div class="modal-body">
                <div id="choice_modal_text">Вы поразили <span id="kills_counter">0</span> врагов и получили <span id="score_counter">0</span> очков.</div>
            </div>
            <div class="modal-footer">
                <button type="button" id="again_button" class="btn btn-success border-light">Снова защищать!</button>
                <button type="button" id="to_menu" class="btn btn-success border-light">В меню</button>
            </div>
        </div>
    </div>
</div>