{% extends "layout.twig" %}

{% block title %}Tower Defense{% endblock %}

{% block content %}
    <div class="row">
        <div id="game_pages" class="col">
            <canvas id="canvas" width="800" height="600"></canvas>
        </div>
    </div>

    <div id="game_control_panel" class="row justify-content-between no-gutters">
        {% include "turrets_control_panel.twig" %}
        {% include "process_control_panel.twig" %}
    </div>
    {% include "end_game_modal.twig" %}
{% endblock %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    {% include "script.twig" %}
    <script src="web/js/return_handler.js"></script>
    <script src="web/js/main.js" type="module"></script>
    <script src="web/js/end_game_handler.js"></script>
{% endblock %}