{% extends "layout.twig" %}

{% block title %}Main menu{% endblock %}

{% block header %}
    <div class="row text-center">
        <div class="col">
            <h2 class="text-dark menu-title">Hello, {{ username }}!</h2>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 col-md-4 offset-sm-3 offset-md-4">
            <ul class="nav flex-column">
                <li><button type="button" class="btn btn-success btn-block border-light menu-button">New game</button></li>
                <li><button type="button" class="btn btn-success btn-block border-light menu-button">Records</button></li>
                <li><button type="button" id="exit" class="btn btn-success btn-block border-light menu-button">Exit</button></li>
            </ul>
        </div>
    </div>
{% endblock %}
