{% extends "layout.twig" %}

{% block title %}Main menu{% endblock %}

{% block header %}
    <div class="row">
        <div class="col text-center">
            <img class="img-fluid game-logo" src="web/img/logo.png" alt="Tower Defense">
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <h2 class="text-dark menu-title">Hello, {{ username }}!</h2>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 col-md-4 offset-sm-3 offset-md-4">
            <ul class="nav flex-column">
                <li><button type="button" id="new_game" class="btn btn-success btn-block border-light menu-button">New game</button></li>
                <li><button type="button" id="edit_profile" class="btn btn-success btn-block border-light menu-button">Profile</button></li>
                <li><button type="button" id="records" class="btn btn-success btn-block border-light menu-button">Records</button></li>
                <li><button type="button" id="exit" class="btn btn-danger btn-block border-light menu-button">Exit</button></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="web/js/menu_handler.js"></script>
{% endblock %}
