<div id="right_control_panel" class="col-lg-6">
    <div class="card-group">
        <div class="card text-center bg-light border-success">
            <div class="card-body px-1 py-0">
                <div class="btn-group-vertical" role="group" aria-label="Time management controls">
                    <button id="wave_starter" type="button" class="btn btn-light text-success px-4">Wave</button>
                    <button id="pause_controller" type="button" class="btn btn-light text-success px-4">Pause</button>
                    <button id="rate_controller" type="button" class="btn btn-light text-success px-4">Faster</button>
                </div>
            </div>
        </div>
        <div class="card text-center bg-light border-success">
            <div class="card-body text-success px-1 py-0">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-light border-success text-success indicator">Cash $<span id="cash_indicator">35</span></li>
                    <li class="list-group-item bg-light border-success text-success indicator">Wave #<span id="wave_indicator">0</span></li>
                    <li class="list-group-item bg-light border-success text-success indicator">Lives ♥<span id="life_indicator">10</span></li>
                </ul>
            </div>
        </div>
        <div class="card text-center bg-light border-success">
            <div class="card-body px-1 py-0">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-light border-success text-success indicator">Kills ☠<span id="kills_indicator">0</span></li>
                    <li class="list-group-item bg-light border-success text-success indicator">Score: <span id="score_indicator">0</span></li>
                    <button id="return" type="button" class="list-group-item list-group-item-active bg-light border-success text-success indicator">Menu</button>
                </ul>
            </div>
        </div>
    </div>
</div>