<div id="left_control_panel" class="col-lg-6">
    <div id="turrets_buy_controls" class="card-group">
        <div data-name="Laser" class="card text-center bg-light border-success turret-cart">
            <img src="web/img/frog.png" class="card-image-top mx-auto turret-cart__image laser-image" id="laser_image" alt="Laser">
            <div class="card-body text-success">
                <p class="card-text">Laser ($15)</p>
            </div>
        </div>
        <div data-name="Mortar" class="card text-center bg-light border-success turret-cart">
            <img src="web/img/elephant.png" class="card-image-top mx-auto turret-cart__image mortar-image" id="mortar_image" alt="Mortar">
            <div class="card-body text-success">
                <p class="card-text">Mortar ($60)</p>
            </div>
        </div>
    </div>
    <div id="turrets_manage_controls" class="card-group d-none">
        <!--<div data-name="Laser" class="card text-center bg-light border-success turret-cart">
            <img src="web/img/frog.png" class="card-image-top mx-auto turret-cart__image laser-image" id="update1" alt="Laser">
            <div class="card-body text-success">
                <p class="card-text">Update ($15)</p>
            </div>
        </div>
        <div data-name="Mortar" class="card text-center bg-light border-success turret-cart">
            <img src="web/img/elephant.png" class="card-image-top mx-auto turret-cart__image mortar-image" id="update2" alt="Mortar">
            <div class="card-body text-success">
                <p class="card-text">Move ($60)</p>
            </div>
        </div>-->
    </div>
</div>