body,
html
{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: limegreen url("../img/background.png") fixed;
    color: #00000F;
}

.about-game
{
    margin-bottom: 30px;
}

.game-logo
{
    margin: 30px 0;
}

.game-example
{
    margin-bottom: 20px;
}

.input-form
{
    margin-bottom: 60px;
}

.form-item
{
    margin-bottom: 10px;
}

.game-container
{
    width: 830px;
    line-height: 0;
}

.turret-cart
{
    padding-top: 22px;
    cursor: pointer;
}

.turret-cart__image
{
    height: 50px;
}

.laser-image
{
    width: 45px;
}

.mortar-image
{
    width: 59px;
}

.indicator
{
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
}

.menu-title
{
    margin: 30px;
}

.menu-button,
.form-field
{
    margin-bottom: 20px;
}